<div class="row center-xs margTop">
    <div class="col-xs-12 col-md-10">
        <mat-card>
            <mat-card-header>
                <h1 class="titulo">
                    <strong>
                        Vehículos
                    </strong>
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="row middle-xs">
                    <div class="col-xs-12 col-sm-9">
                        <mat-form-field class="ancho margTop" appearance="outline" autocomplete="off">
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input
                                autocomplete="off">
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <button mat-raised-button color="primary" routerLink="../crearVehiculo">
                            Crear Vehículo
                        </button>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="ancho" style="position: sticky;">
                    
                    <ng-container matColumnDef="placa">
                        <th mat-header-cell *matHeaderCellDef> Placa </th>
                        <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
                    </ng-container>


                    <ng-container matColumnDef="marca">
                        <th mat-header-cell *matHeaderCellDef> Marca </th>
                        <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
                    </ng-container>

                    <ng-container matColumnDef="color">
                        <th mat-header-cell *matHeaderCellDef> Color </th>
                        <td mat-cell *matCellDef="let element"> {{element.color}} </td>
                    </ng-container>

                    <ng-container matColumnDef="responsable">
                        <th mat-header-cell *matHeaderCellDef> Responsable </th>
                        <td mat-cell *matCellDef="let element"> Nombre responsable </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <th mat-header-cell *matHeaderCellDef> Estado </th>
                        <td mat-cell *matCellDef="let element"> <mat-icon class="icono-punto" style="color: red;">circle</mat-icon> </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <a [routerLink]="['../modificar', element.$key]" mat-icon-button matTooltip="Editar">
                                <mat-icon>edit_outlined</mat-icon>
                            </a>

                            <button mat-icon-button matTooltip="Asignar envío">
                                <mat-icon>swap_horiz</mat-icon>
                            </button>
                            
                            <button mat-icon-button matTooltip="Eliminar">
                                <mat-icon>delete_outlined</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="disclaimer">
                        <td class="info centro centrar" mat-footer-cell *matFooterCellDef colspan="7">
                            <mat-icon class="icono-punto" style="color: green;">circle</mat-icon> Disponible
                            <mat-icon class="icono-punto" style="color: orange;">circle</mat-icon> Reparación
                            <mat-icon class="icono-punto" style="color: red;">circle</mat-icon> Ocupado
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="7">{{'No existen envíos' | titlecase}}</td>
                    </tr>
                    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[15,30,50]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>