<div class="contenedor">
    <div class="row middle-xs center-xs">
        <div class="col-xs-12 col-md-6 margTop margBot">
            <mat-card class="animated-word" >
                <mat-card-content>
                    <mat-icon id="but"> sports_motorsports</mat-icon>
                    <h1>CONDUCTORES</h1>    
                </mat-card-content>
                <mat-card-footer>
                    <button mat-raised-button color="primary" routerLink="./conductores">
                        Gestionar
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
        <div class="col-xs-12 col-md-6 margTop margBot">
            <mat-card class="animated-word" >
                <mat-card-content>
                    <mat-icon id="but"> two_wheeler</mat-icon>
                    <h1>VEHÍCULOS</h1>    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" routerLink="./vehiculos">
                        Gestionar
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>