.but-upload {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(63,81,181);
    color: white;
    height: 25vh;
    width: 100%;
  }
  .ng-hide {
    display: none;
  }

  mat-icon#per {
    font-size: 15vh;
    width: auto;
    height: auto;
  }


  .but-suss {
    border-radius: 20px;
    padding: 5px;
    background-color: #b3c4c8;
    color: #270808;
    height: 25vh;
    width: 100%;
    margin-bottom: 5px;
  }


  .loadingCard{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #004bad81;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;
     h1 {
       color: white;
       font-weight: 900;
       z-index: 2;
     }
  }