<div class="row center-xs margTop">
    <div class="col-xs-12 col-md-9">
        <div class="loadingCard" *ngIf="loading">
            <mat-spinner></mat-spinner>
            <h1>
                Guardando Envío
            </h1>
        </div>

        <h1>Registro de Envío</h1>

        <mat-vertical-stepper [linear]="true">
            <mat-step [stepControl]="formCliente" >
                <ng-template matStepLabel>Datos del Destinatario</ng-template>
                <form [formGroup]="formCliente">
                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>
                                    Cédula
                                </mat-label>
                                <input type="tel" matInput autocomplete="off" formControlName="cedula">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>
                                    Nombre Completo
                                </mat-label>
                                <input type="text" matInput autocomplete="off" formControlName="nombreCompleto">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>
                                    Correo
                                </mat-label>
                                <input type="email" matInput autocomplete="off" formControlName="correo">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>
                                    Celular
                                </mat-label>
                                <input type="tel" matInput autocomplete="off" formControlName="celular">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>
                                    Teléfono Domicilio
                                </mat-label>
                                <input type="tel" matInput autocomplete="off" formControlName="telefonoD">
                                <mat-error>Este campo es obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
                <div class="row end-xs">
                    <button mat-raised-button color="primary" matStepperNext>
                        Siguiente
                    </button>
                </div>
            </mat-step>
            <mat-step [stepControl]="formDireccion">
                <ng-template matStepLabel>Dirección y Ubicación</ng-template>

                    <app-mapa (direccionConf)="confirmacionDir($event)" [direccion]="formDireccion.value"></app-mapa>
                    <div class="row end-xs margTop">
                        <div class="col-xs-12">
                            <mat-error *ngIf="formDireccion.invalid && formDireccion.dirty">
                                Complete el campo Dirección.
                            </mat-error>
                        </div>
                    </div>
                    <div class="row end-xs margTop">
                        <div class="col-xs-12">
                            <button mat-raised-button color="primary" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </div>

            </mat-step>
            <mat-step [stepControl]="formInfoEnvio" *ngIf="formInfoEnvio">
                <ng-template matStepLabel>Información de lo que se Envía</ng-template>
                
               <form [formGroup]="formInfoEnvio">
                <div class="row" >
                    <div class="col-xs-12">
                        <mat-form-field class="ancho" appearance="outline">
                             <mat-label>
                                  Descripción
                             </mat-label>
                             <textarea matInput formControlName="descripcion"></textarea>
                        </mat-form-field>
                   </div>
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="tipo">
                              <mat-option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho">
                            <mat-label>Prioridad</mat-label>
                            <mat-select formControlName="prioridad">
                              <mat-option [value]="prioridad" *ngFor="let prioridad of prioridades">{{prioridad}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho">
                            <mat-label>
                                Peso
                            </mat-label>
                            <input type="number" matInput autocomplete="off" formControlName="peso">
                        </mat-form-field>
                    </div>
                </div>
               </form>

                    <div class="row end-xs margTop">
                        <div class="col-xs-12">
                            <button mat-raised-button color="primary" matStepperNext>
                                Siguiente
                            </button>
                        </div>
                    </div>
            </mat-step>
            <mat-step [stepControl]="formFecha" *ngIf="formFecha" >
                <ng-template matStepLabel>Programar Fecha de Envío</ng-template>
                <form [formGroup]="formFecha" (ngSubmit)="guardarEnvio($event)">
                    <div class="row start-xs">
                        <div class="col-xs-12">
                            <mat-form-field appearance="outline" class="">
                                <mat-label>
                                    Fecha de envío
                                </mat-label>
                                <input type="date" matInput autocomplete="off" formControlName="fecha">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row end-xs">
                        <div class="col-xs-12">
                            <button mat-raised-button color="primary">
                                Registrar envío
                            </button>
                        </div>
                    </div>
                </form>
            </mat-step>
        </mat-vertical-stepper>
    </div>
</div>