<div class="row center-xs margTop">
    <div class="col-xs-12 col-md-10">
        <mat-card>
            <mat-card-header>
                <h1 class="titulo">
                   <strong>
                    Conductores
                   </strong>
                </h1>
            </mat-card-header>
            <mat-card-content>
                <div class="row middle-xs">
                    <div class="col-xs-12 col-sm-9">
                        <mat-form-field class="ancho margTop" appearance="outline" autocomplete="off">
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input
                                autocomplete="off">
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <button mat-raised-button color="primary" routerLink="../crearConductor">
                            Crear Conductor
                        </button>
                    </div>
                </div>
                <div class="listaConductores">
                    <table mat-table [dataSource]="dataSource" class="ancho" style="position: sticky;">
                        <ng-container matColumnDef="foto">
                            <th mat-header-cell *matHeaderCellDef> Foto </th>
                            <td class="middle-xs" mat-cell *matCellDef="let element"> 
                                <img mat-card-avatar src="{{element.urlFoto}}" alt="">
                            </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="cedula">
                            <th mat-header-cell *matHeaderCellDef> Cédula </th>
                            <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                        </ng-container>
    
    
                        <ng-container matColumnDef="nombreCompleto">
                            <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
                            <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="celular">
                            <th mat-header-cell *matHeaderCellDef> Celular </th>
                            <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento}} </td>
                        </ng-container>
    
                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef> Estado </th>
                            <td mat-cell *matCellDef="let element"> 
                                <mat-icon  class="icono-punto" [ngClass]="(element.estado === 'disponible')?'green':(element.estado === 'ocupado')?'red':'orange'">circle</mat-icon>
                            </td>
                        </ng-container>
    
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element; let i = index">
                                <a [routerLink]="['../modificar', element.$key]" mat-icon-button matTooltip="Editar">
                                    <mat-icon>edit_outlined</mat-icon>
                                </a>
    
                                <button mat-icon-button matTooltip="Asignación" (click)="openDialogAsignacion(element)">
                                    <mat-icon>swap_horiz</mat-icon>
                                </button>
                                
                                <button mat-icon-button matTooltip="Eliminar">
                                    <mat-icon>delete_outlined</mat-icon>
                                </button>
    
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="disclaimer">
                            <td class="info centro centrar" mat-footer-cell *matFooterCellDef colspan="7">
                                <mat-icon class="icono-punto" style="color: green;">circle</mat-icon> Disponible
                                <mat-icon class="icono-punto" style="color: orange;">circle</mat-icon> Ausente
                                <mat-icon class="icono-punto" style="color: red;">circle</mat-icon> Ocupado
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="7">{{'No existen envíos' | titlecase}}</td>
                        </tr>
                        <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[15,30,50]" showFirstLastButtons></mat-paginator>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>