<div class="row">
    <div class="col-xs-11">
        <mat-card>
            <mat-card-title>
                <p>
                    Iniciar Sesión en OwnCourrier
                </p>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="loginUsuario($event)">
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho">
                            <mat-label>
                                Rol:
                            </mat-label>
                            <mat-select required placeholder="Selecciona tu rol" formControlName="rol">
                                <mat-option *ngFor="let option of roles" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho">
                            <mat-label>
                                Correo:
                            </mat-label>
                            <input matInput placeholder="Ingresa su Correo" autocomplete="off" required
                                formControlName="correo">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field appearance="outline" class="ancho margBot">
                            <mat-label>
                                Contraseña
                            </mat-label>
                            <input matInput placeholder="Ingresa su Contraseña" type="password" autocomplete="off"
                                required formControlName="password">
                                <mat-hint align="end" class="mensaje-olvido" (click)="openDialogContrasena()">¿Ha olvidado su contraseña?</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 margTop">
                        <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
                    </div>
                </form>
            </mat-card-content>
            <mat-divider></mat-divider>
            <p id="extra">
                <small>
                    ¿Deseas crear una cuenta? <a [routerLink]="['/registro']">Regístrate</a>
                </small>
            </p>
        </mat-card>
    </div>
</div>