#extra{
    margin-top: 30px;
    color: gray;
}

a{
    cursor: pointer;
    text-decoration: none;
    columns: gray;
}

a:hover{
    color: black;
}

.mensaje-olvido{
    cursor: pointer; 
    color: gray
}

.mensaje-olvido:hover {
    color: black;
}