<mat-card class="marg10" style="margin-bottom: 100px;">
    <mat-card-content>
        <form [formGroup]="form">

            <mat-card-title class="marg10">Información de la Empresa</mat-card-title>
            <mat-card-subtitle>Presione <strong>Editar</strong> para habilitar la edición del formulario y foto de
                perfil
            </mat-card-subtitle>


            <div class="row ancho margTop">

                <div class="col-xs-12 col-sm-6">
                    <mat-card-subtitle class="marg10 centrar">INFORMACIÓN DE LA EMPRESA</mat-card-subtitle>
                    <app-info-empresa></app-info-empresa>
                </div>

                <div class="col-xs-12 col-sm-6">


                    <mat-card-subtitle class="marg10 centrar">INFORMACIÓN INICIO DE SESIÓN</mat-card-subtitle>

                    <app-info-sesion></app-info-sesion>


                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>