<form [formGroup]="form">
    <div class="row ancho centrar">
        <div class="col-xs-12">
            <img class="imagen" src="./assets/cyber-security.jpg" alt="Image logo para sesión">
        </div>
    </div>

    <div class="row ancho margTop centro centrar">

        <div class="col-xs-12">
            <button class="botones" mat-raised-button color="primary" (click)="saveInfo()"><mat-icon>mail_outline</mat-icon> Cambiar correo</button>
        </div>
    </div>

    <div class="row ancho margTop centro centrar">

        <div class="col-xs-12">
            <button  class="botones " mat-raised-button color="primary" (click)="saveInfo()"><mat-icon class="material-icons-outlined">privacy_tip_outline</mat-icon> Cambiar contraseña</button>
        </div>
    </div>
</form>