<mat-card>
    <mat-card-title>
        <p>
            Registro Administrador
        </p>
    </mat-card-title>
    <div class="row">
        <mat-form-field appearance="outline" class="ancho">
            <mat-label>
                Correo Administrador:
            </mat-label>
            <input type="text" matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="ancho">
            <mat-label>
                Contraseña:
            </mat-label>
            <input type="password" matInput>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline" class="ancho">
            <mat-label>
                Repita su contraseña:
            </mat-label>
            <input type="password" matInput>
        </mat-form-field>
    </div>
    <div class="row center-xs">
        <button mat-raised-button color="primary">
            Registrar
        </button>
    </div>
</mat-card>