<mat-card class="marg10">
    <mat-card-content>
        <div class="row ancho">
            <div class="col-xs-12 col-sm-4">
                <mat-card class="sombra" style="margin: 15px;">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Nombre de la empresa</mat-card-title>
                        <mat-card-subtitle>Usuario empresa</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        
                        <p>
                            <mat-icon>email</mat-icon>&nbsp;&nbsp;
                            <b> Correo electrónico:</b> <br>
                            ejemplo@hotmail.com
                        </p>
                        <p>
                            <mat-icon>phone_enabled</mat-icon>&nbsp;&nbsp;
                            <b>Número de celular:</b> <br>
                            0987321654
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions class="centrar">
                        <button mat-button><mat-icon>info_outlined</mat-icon> INFO</button>
                        <button mat-button><mat-icon>logout</mat-icon> SALIR</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row ancho">
                    <mat-card class="sombra"
                        style="width: 100%; height: 100%; background: linear-gradient(70deg, lightgray, black); margin: 15px;">
                        <p style="color: white; font-size: 20px;">
                            <b>Envíos realizados</b>
                        </p>
                        <p style="color: white; font-size: 25px; padding-left: 10%;">
                            <b>426</b> <span style="position: absolute; right: 20%; top: 15%">
                                <mat-icon style="font-size: 60px">verified</mat-icon>
                            </span>
                        </p>

                        <div class="button">
                            <div class="button__text">Más información</div>

                            <div class="button__wrapper">
                                <div class="button__arrow"></div>
                                <div class="button__border-circle"></div>
                                <div class="button__mask-circle">
                                    <div class="button__small-circle"></div>
                                </div>
                            </div>
                        </div>


                    </mat-card>
                </div>
                <div class="row ancho">
                    <mat-card class="sombra"
                        style="width: 100%; height: 100%; background: linear-gradient(70deg, rgb(243, 154, 154), red); margin: 15px;">
                        <p style="color: white; font-size: 20px;">
                            <b>Vehículos</b>
                        </p>
                        <p style="color: white; font-size: 25px; padding-left: 10%;">
                            <b>20</b> <span style="position: absolute; right: 20%; top: 15%">
                                <mat-icon style="font-size: 60px">two_wheeler</mat-icon>
                            </span>
                        </p>

                        <div class="button">
                            <div class="button__text">Más información</div>

                            <div class="button__wrapper">
                                <div class="button__arrow"></div>
                                <div class="button__border-circle"></div>
                                <div class="button__mask-circle">
                                    <div class="button__small-circle"></div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row ancho ">
                    <mat-card class="sombra"
                        style="width: 100%; height: 100%; background: linear-gradient(70deg, rgb(169, 206, 238), blue); margin: 15px;">
                        <p style="color: white; font-size: 20px;">
                            <b>Kilómetros</b>
                        </p>
                        <p style="color: white; font-size: 25px; padding-left: 10%;">
                            <b>1500</b> <span style="position: absolute; right: 20%; top: 15%">
                                <mat-icon style="font-size: 60px">pin_drop</mat-icon>
                            </span>
                        </p>

                        <div class="button">
                            <div class="button__text">Más información</div>

                            <div class="button__wrapper">
                                <div class="button__arrow"></div>
                                <div class="button__border-circle"></div>
                                <div class="button__mask-circle">
                                    <div class="button__small-circle"></div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
                <div class="row ancho">
                    <mat-card class="sombra"
                        style="width: 100%; height: 100%; background: linear-gradient(70deg, palegoldenrod, green); margin: 15px;">
                        <p style="color: white; font-size: 20px;">
                            <b>Conductores</b>
                        </p>
                        <p style="color: white; font-size: 25px; padding-left: 10%;">
                            <b>18</b> <span style="position: absolute; right: 20%; top: 15%">
                                <mat-icon style="font-size: 60px">sports_motorsports</mat-icon>
                            </span>
                        </p>

                        <div class="button">
                            <div class="button__text">Más información</div>

                            <div class="button__wrapper">
                                <div class="button__arrow"></div>
                                <div class="button__border-circle"></div>
                                <div class="button__mask-circle">
                                    <div class="button__small-circle"></div>
                                </div>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>