@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.linea{
    font-size: 12px !important;
}

.mensaje{
    background: lightgray;
    padding: 20px;
    width: 50%;
    font-size: 12px;
    border-radius: 20px
}