<div class="row ancho contenedor">
    <div class="col-xs-12">
        <div class="row ancho margTop middle-xs">
            <div class="col-xs-12 col-sm-4 centro centrar">
                <qrcode [elementType]="'img'" [qrdata]="data.envio.$key" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
            <div class="col-xs-12 col-sm-8">
                <p><b>ID:</b> {{data.envio.$key}}</p>
                <p><b>Nombre cliente:</b> {{data.envio.cliente.nombreCompleto}}</p>
                <p><b>Celular:</b> {{data.envio.cliente.celular}}</p>
                <p><b>Dirección:</b> {{data.envio.direccion.descripcion}}</p>
                <p><b>Fecha de entrega:</b> {{data.envio.fecha}}</p>
                <p><b>Estado:</b> En Proceso <mat-icon class="icono-punto" style="color: blue;">circle</mat-icon></p>
                
            </div>
        </div>
        
        <div class="row ancho">
            <div class="col-xs-12">
             
                    <b>Información Envío:</b>
                    <ul>
                        <li><b>Descripción: </b>{{data.envio.infoEnvio.descripcion}}</li>
                        <li><b>Tipo: </b>{{data.envio.infoEnvio.tipo}}</li>
                        <li><b>Peso: </b>{{data.envio.infoEnvio.peso}}</li>
                    </ul>
               
                
            </div>
        </div>
        
    </div>
</div>

