.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .walogo {
    width: 100%;
    height: auto;
  }
  

  
  
  ::ng-deep .mat-progress-spinner#loading circle, .mat-spinner circle {
    stroke: #ffffff;
  }
  
  h1#loading {
    color: white;
    font-weight: bold;
  }


  .contenedorL{
    display: flexbox;
    width: 100vw;
    height: 100vh;
    background: rgb(0,74,173);
    color: white;
    flex-direction: column;
}