<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar class="tertiary centro">
        MENÚ
      </mat-toolbar>
      <mat-nav-list>
        <ng-container *ngFor="let item of items">
          <a mat-list-item  [routerLink]="(item.link != '')? item.link: nada()" (click)="(item.f)? cerrarSesion(): nada()">
            <mat-icon>{{item.icono}}</mat-icon>&nbsp; {{item.nombre}}
          </a>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="primary">
      <mat-toolbar class="tertiary">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>ADMINISTRADOR </span>
      </mat-toolbar>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
