::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}
  
  
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  

  
  
  ::ng-deep .mat-progress-spinner#loading circle, .mat-spinner circle {
    stroke: #ffffff;
  }
  
  h1#loading {
    color: white;
    font-weight: bold;
  }


  .contenedorL{
    display: flexbox;
    width: 100vw;
    height: 100vh;
    background: rgb(0,74,173);
    color: white;
    flex-direction: column;
}