
v1<div class="row ancho margTop">
    <div class="col-xs-12">
        <button mat-raised-button (click)="escanear = !escanear"> {{ escanear? 'Apagar Camara':'Prender Camara'}}</button>
    </div>
    <div class="col-sx-12">
        <mat-dialog-content>
            <zxing-scanner [enable]="escanear" (scanSuccess)="scanSuccessHandler($event)" ></zxing-scanner>
            <mat-list *ngIf="id !== ''">
                <div mat-subheader>Pedido</div>
                <mat-list-item >
                  <mat-icon mat-list-icon>qr_code</mat-icon>
                  <div mat-line><b>Identificador del pedido</b> </div>
                  <div mat-line><small>{{id}}</small></div>
                </mat-list-item>
              </mat-list>
        </mat-dialog-content>
        <mat-dialog-actions class="centro centrar">
            <button style="color: green;" mat-button  cdkFocusInitial>
                <mat-icon>done</mat-icon> Aceptar envío
            </button>
            <button style="color: red;" mat-button (click)="onNoClick()">
                <mat-icon class="material-icons-outlined">close</mat-icon> Cancelar
            </button>
        </mat-dialog-actions>
    </div>
</div>