@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

.margenbtn{
    margin: 5px;
}


.loadingCard{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background: #004bad81;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;
     h1 {
       color: white;
       font-weight: 900;
       z-index: 2;
     }
  }