<div class="row around-xs">
    <div class="col-xs-12 col-md-11">
        <mat-card class="margTop margBot">
            <mat-card-header class="margBot">
                <mat-card-title>
                    <mat-icon>article</mat-icon> Configuración de envíos
                </mat-card-title>
                <mat-card-subtitle>
                    Administra y controla tus envíos
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="asignar()">
                    <div class="row ancho">
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>Cantidad máxima</mat-label>
                                <input matInput placeholder="Ingrese la cantidad máxima" formControlName="maxEnvios">
                                <mat-icon class="material-icons-outlined" matSuffix>inventory_outlined</mat-icon>
                                <mat-hint>Ingrese la cantidad máxima de envíos por conductor</mat-hint>
                                <mat-error>* Campo Obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label>Peso máximo</mat-label>
                                <input matInput placeholder="Ingrese el peso máximo" formControlName="maxPeso">
                                <mat-icon matSuffix>production_quantity_limits</mat-icon>
                                <mat-hint>Ingrese el peso máximo del envío por conductor (gr.)</mat-hint>
                                <mat-error>* Campo Obligatorio</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row ancho margTop middle-xs">
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="outline" class="ancho">
                                <mat-label> Fecha de envío </mat-label>
                                <input matInput type="date" placeholder="Ingrese la fecha del envío" autocomplete="off" formControlName="fecha">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-6 centro centrar">
                            <button mat-raised-button class="tertiary ancho margTop" type="submit">
                                <mat-icon>add_task</mat-icon> Asignar envíos
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row ancho" *ngIf="asignado === true">
                    <div class="col-xs-12 ">
                        <div class="example-action-buttons end-xs">
                            <button mat-button (click)="accordion.openAll()">Expandir</button>
                            <button mat-button (click)="accordion.closeAll()">Contraer</button>
                        </div>
                        <mat-accordion class="example-headers-align" multi>


                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b>Información y asignación de envíos</b>
                                    </mat-panel-title>
                                    <mat-panel-description class="end-xs">
                                        <mat-icon>manage_accounts</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-asignacion-enviosxconductor [zonas]="zonas"></app-asignacion-enviosxconductor>
                            </mat-expansion-panel>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b>Envíos por zona de cobertura</b>
                                    </mat-panel-title>
                                    <mat-panel-description class="end-xs">
                                        <mat-icon>map</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto odio obcaecati,
                                    recusandae quod et ducimus nesciunt architecto aliquam hic voluptatum rerum, tempore
                                    cupiditate quaerat sunt provident, ab facere perspiciatis totam?
                                </p>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>

                <div class="row ancho margTop centro centrar" *ngIf="asignado === true">
                    <button class="tertiary margenbtn" mat-raised-button color="primary">
                        <mat-icon>play_arrow</mat-icon> Empezar
                    </button>

                    <button  class="margenbtn" mat-raised-button color="warn">
                        <mat-icon>history</mat-icon> Reasignar
                    </button>

                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>