<div class="row ancho center-xs">
    <div class="col-lg-12 col-xs-12 ">

        <mat-card class="ancho">
            <form [formGroup]="form">
                <h1 mat-dialog-title><strong>Recuperar contraseña</strong> </h1>
                <div mat-dialog-content>

                    <mat-form-field appearance="outline" class="ancho">
                        <mat-label>Ingrese el correo electrónico</mat-label>
                        <input matInput placeholder="Ingrese su correo" formControlName="correoRecuperacion">
                        <mat-error>* Campo obligatorio</mat-error>
                    </mat-form-field>
                </div>


                <div mat-dialog-actions style="justify-content: center;">
                    <button class="marg10" mat-raised-button color="primary" (click)="recuperarContrasena()">
                        <mat-icon>check</mat-icon>&nbsp; Aceptar
                    </button>
                    <button class="marg10" style="margin-left: 0;" mat-raised-button color="warn"
                        (click)="onNoClick()">
                        <mat-icon>close</mat-icon>&nbsp;Cancelar
                    </button>
                </div>

            </form>


        </mat-card>



    </div>

</div>