<div class="row around-xs">
    <div class="col-xs-12 col-md-11">
        <mat-card class="margTop margBot">
            <!-- <div class="row end-xs">
                <div class="col-xs-12 margBot">
                    <a mat-raised-button class="tertiary" [routerLink]="['../crearplato']">
                        <mat-icon>add_circle_outline</mat-icon> Nuevo envío
                    </a>
                </div>
            </div> -->
            <mat-card-header class="margBot">
                <mat-card-title>
                    <mat-icon>article</mat-icon> Listado de clientes
                </mat-card-title>
                <mat-card-subtitle>
                    Todos los clientes
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <!-- <div class="loader" *ngIf="loading">
                    <div class="row center-xs bottom-xs" style="height: 100%;">
                        <mat-spinner></mat-spinner>
                        <div class="col-xs-12">
                            <h1>Cargando..</h1>
                        </div>
                    </div>
                </div> -->
                <div class="row ancho center-xs margTop">
                    <div class="col-xs-8">
                        <mat-form-field class="ancho margTop" appearance="outline" autocomplete="off">
                            <mat-label>Buscar</mat-label>
                            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input
                                autocomplete="off">
                            <mat-icon matPrefix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
                <table mat-table [dataSource]="dataSource" class="ancho" style="position: sticky;">
                    <ng-container matColumnDef="Cedula">
                        <th mat-header-cell *matHeaderCellDef> Cédula </th>
                        <td mat-cell *matCellDef="let element"> {{element.cliente.cedula}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre cliente </th>
                        <td mat-cell *matCellDef="let element"> {{element.cliente.nombreCompleto}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Direccion">
                        <th mat-header-cell *matHeaderCellDef> Dirección </th>
                        <td mat-cell *matCellDef="let element"> {{element.direccion.descripcion}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Celular">
                        <th mat-header-cell *matHeaderCellDef> Celular </th>
                        <td mat-cell *matCellDef="let element"> {{element.cliente.celular}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Pedidos">
                        <th mat-header-cell *matHeaderCellDef> Pedidos </th>
                        <td mat-cell *matCellDef="let element"> {{element.precio | currency}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <a [routerLink]="['../modificar', element.$key]" mat-icon-button matTooltip="Editar">
                                <mat-icon>edit</mat-icon>
                            </a>

                            <button mat-icon-button matTooltip="Eliminar">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="5">{{'No existen clientes' | titlecase}}</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[15,30,50]" showFirstLastButtons></mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>