@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
.info{
    right: 10%;
    font-size: 12px;
    position: absolute;
    color: gray;
}

.icono-punto{
    font-size: 10px;
}

.mat-footer{
    justify-content: flex-end;

}

.col-footer{
    background-color: lavender;
    border-radius: 20px;
    padding: 0;
}


.contenedor {
    margin: 0;
}

p, li, .parrafo{
    color: gray;
}

b{
    color: black;
}

.color-entregado{
    background-color: palegreen;
}

.entregado{
    opacity: 25%;

}

.icono-texto-entregado {
    position: absolute;
    top: 25%;
    right: 50%;
    color: black;
    font-size: 25px;
}

mat-card{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}