.info{
    right: 10%;
    font-size: 12px;
    position: absolute;
    color: gray;
}

.icono-punto{
    font-size: 10px;
}

.mat-footer{
    justify-content: flex-end;

}

.col-footer{
    background-color: lavender;
    border-radius: 20px;
    padding: 0;
}