<form [formGroup]="form">
    <div class="row ancho centrar margBot">
        <div class="col-xs-12 margTop">
            <ng-container *ngIf="urlLogo.value === ''">
                <p>
                    <input class="ng-hide" id="input-file-id" accept=".png, .jpg" type="file"
                        (change)="cargarFotoPerfil($event)" />
                    <label for="input-file-id" class="row center-xs but-upload" mat-raised-button style="cursor: pointer;"
                        *ngIf="file.value === null">
                        <div class="col-xs-12">
                            <mat-icon id="per">camera_alt</mat-icon>
                        </div>
                        <div class="col-xs-12">
                            Subir Logo Empresa &nbsp;
                            <mat-icon>cloud_upload</mat-icon>
                        </div>
                    </label>
                </p>
                <div class="row" class="but-suss" *ngIf="file.value !== null">
                    <div class="col-xs-12">
                        <mat-icon id="per">camera_alt</mat-icon>
                    </div>
                    <div class="col-xs-12">
                        Logo Perfil Cargada Correctamente
                    </div>
                    <div class="col-xs-12">
                        <button mat-raised-button color="primary" type="button" (click)="eliminarFotoPerfil()">
                            Eliminar Imagen
                        </button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="urlLogo.value !== ''">
                <div class="logo">
                    <img style="border-radius: 20px;"  height="200px" src="{{urlLogo.value}}" alt="">
                    
                </div>
                <div>

                    <input class="ng-hide " id="input-file-id" accept=".png, .jpg"
                    (change)="cargarFotoPerfil($event)" type="file" />
                    <label for="input-file-id"  mat-raised-button style="cursor: pointer">
                        <mat-icon>camera_alt</mat-icon>
                    </label>
              </div>
                <!-- <button mat-mini-fab color="primary" matTooltip="Cambiar imagen">
                    
                    <mat-icon  class="material-icons-outlined">
                        image
                    </mat-icon>
                  </button> -->
            </ng-container>

        </div>

        
    </div>

    <div class="row ancho">
        <div class="col-xs-12">
            <mat-form-field appearance="outline" class="ancho">
                <mat-label>Nombre de la empresa</mat-label>
                <input matInput placeholder="Ingrese el nombre de la empresa" formControlName="nombreEmpresa">
                <mat-icon matSuffix>business</mat-icon>
                <mat-error>* Campo Obligatorio</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row ancho">
        <div class="col-xs-12">
            <mat-form-field appearance="outline" class="ancho">
                <mat-label>Número de Celular</mat-label>
                <input matInput placeholder="Ingrese el nombre de la empresa" formControlName="celular">
                <mat-icon matSuffix>phone_enabled</mat-icon>
                <mat-error>* Campo Obligatorio</mat-error>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row ancho">
        <div class="col-xs-12">
            <mat-form-field appearance="outline" class="ancho">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="Ingrese el correo de la empresa" formControlName="correoAdmin">
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>* Campo Obligatorio</mat-error>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
        </div>
    </div>

    <div class="row ancho margTop">
        <div class="col-xs-12">
            <mat-form-field appearance="outline" class="ancho">
                <mat-label>Descripción de la empresa</mat-label>
                <textarea matInput rows="8" formControlName="descripcion"></textarea>
                <mat-error>* Campo Obligatorio</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row ancho margTop centro centrar">

        <div class="col-xs-12 col-sm-6">
            <button mat-raised-button color="primary" (click)="guardar($event)"><mat-icon>save</mat-icon> Actualizar información</button>
        </div>
    </div>
</form>